.title {
  font-size: 23px;
  font-weight: 700;
}

.daily-item {
  /* background-color: #f5f5f5; */
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.4)  !important;
  border: 1px solid rgba(255,255,255, 0.8) !important;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #ffffff;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: #ffffff;
}

.min-max {
  color: #d0d0d0;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}

.daily-details-grid-item label:first-child {
  color: #c0c0c0;
}

.daily-details-grid-item label:last-child {
  color: #ffffff;
}

/* Accordion styles */
.accordion {
  overflow: visible !important;
}

.accordion__item {
  margin-bottom: 10px;
  overflow: visible !important;
}

.accordion__item:last-child {
  margin-bottom: 200px;
  overflow: visible !important;
}

.accordion__panel {
  padding-bottom: 15px;
  overflow: visible !important;
}