.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(0,0,0, 0.3);
    color: white;
    background-color: #333;
    margin: 20px auto 0 auto;
    padding: 0 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

